/*** uncss> filename: src/css/style.css ***/

body {
  font-family: Arial, Verdana;
}

body,
html {
  height: 100%;
}

.logo {
  font-size: 1.5em;
  color: #00B8E6;
}

.search-symbol-desktop,
.map-symbol-desktop,
.favorite-filter-symbol-desktop {
  display: block;
  position: relative;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.search-symbol-desktop {
  margin-top: 10.5px;
}

.map-symbol-desktop {
  margin-top: 13px;
}

.favorite-filter-symbol-desktop {
  margin-top: 10.5px;
}

.search-symbol-mobile,
.map-symbol-mobile,
.favorite-filter-symbol-mobile {
  display: none;
}

.header {
  background-color: white;
  padding-bottom: 0px;
}

.navbar {
  margin-bottom: 0px;
}

.search-container {
  position: relative;
  display: none;
  padding-top: 20px;
  padding-bottom: 12px;
}

.search-form-default-style {
  font-size: 1.35em;
  width: 250px;
  float: right;
  margin-top: -7px;
  margin-right: -15px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  padding-left: 5px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.clear-default-style {
  display: none;
  position: absolute;
  right: 10px;
  margin-top: -1px;
  font-size: 1.5em;
  color: white;
  background-color: #E8E8E8;
  padding: 0px 10px 0px 10px;
  border-style: solid;
  border-color: #E8E8E8;
  border-width: 1px;
  border-radius: 50px;
}

.clear-default-style:hover,
.clear-default-style:active {
  cursor: pointer;
  background-color: #333333;
  border-color: #333333;
}

.map-container-default-style {
  display: none;
  height: 350px;
  width: 100%;
  padding: 0px;
}

#map {
  display: none;
  height: 100%;
}

.horizontal-rule {
  border-bottom-style: solid;
  border-bottom-color: #E8E8E8;
  border-bottom-width: 1px;
}

.favorite-default-style {
  position: absolute;
  left: 6%;
  top: 8%;
}

.filters-container {
  display: none;
  position: relative;
}

.clear-favorites-button-default-style {
  height: 40px;
  width: 100px;
  margin: 20px 15px 15px 0px;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #E8E8E8;
  border-radius: 15px;
  font-size: 1.2em;
  color: #b3b3b3;
  font-family: Arial, Verdana;
}

.clear-favorites-button-default-style:hover {
  color: white;
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}

.clear-favorites-button-default-style:focus {
  outline: 0 !important;
}

.location-name-default-style {
  font-size: 1.5em;
  background: none repeat 0 0 #FFffff;
  opacity: 0.5;
  position: absolute;
  bottom: -2%;
  left: 50%;
  margin-right: -50%;
  padding-left: 15px;
  padding-right: 15px;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 12.5px;
}

.break-name-default-style {
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 10px black;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 250px;
  border-radius: 12.5px;
}

.location-frame-default-style {
  display: block;
  text-align: center;
  padding: 10px 10px;
  cursor: pointer;
}

.surf-info-container {
  cursor: default;
}

/** Icons **/

@media (max-width: 767px) {
  .logo {
    font-size: 1.31em;
    color: #00B8E6;
  }

  .search-symbol-mobile,
  .map-symbol-mobile,
  .favorite-filter-symbol-mobile {
    display: block;
    position: relative;
    float: right;
    margin-right: 10px;
    cursor: pointer;
  }

  .search-symbol-mobile {
    margin-top: 10.5px;
  }

  .map-symbol-mobile {
    margin-top: 13px;
  }

  .favorite-filter-symbol-mobile {
    margin-top: 10.5px;
  }

  .navbar-right {
    display: none;
  }

  .header {
    border-bottom: none;
  }

  .search-container {
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: #E8E8E8;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  .search-form {
    width: 100%;
    height: 75px;
    margin: 0 auto;
    font-size: 2em;
    padding-top: 12.5px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    outline: 0;
  }

  .clear-default-style {
    margin-top: 23px;
    margin-left: 84%;
  }

  .header {
    padding-bottom: 0px;
  }

  .map-container-default-style {
    display: none;
    height: 245px;
    border-bottom: 1px dashed;
    border-color: #E8E8E8;
    margin-top: 1px;
    padding: 0px;
  }

  .clear-favorites-button-default-style {
    height: 70px;
    width: 90%;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #E8E8E8;
    border-radius: 10px;
    font-size: 2em;
    color: #b3b3b3;
    font-family: Arial, Verdana;
  }

  .clear-favorites-button-default-style:hover {
    color: white;
    background-color: #b3b3b3;
    border-color: #b3b3b3;
  }

  .clear-favorites-button-default-style:focus {
    outline: 0 !important;
  }

  .break-name-default-style {
    font-size: 1.8em;
  }

  .location-frame-default-style {
    text-align: center;
    margin-bottom: 1px;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
  }

  .favorite-default-style {
    top: 7%;
    left: 5%;
  }
}

@media (min-width: 560px) and (max-width: 767px) {
  .favorite-default-style {
    top: 7%;
    width: 60px;
    height: 60px;
  }

  .break-name-default-style {
    font-size: 4.9vw;
  }

  .location-name {
    font-size: 4vw;
  }
}

@media (min-width: 768px) {
  .search-form-default-style:focus {
    box-shadow: 0 0 15px 5px #b0e0ee;
    border: 2px solid #bebede;
  }

  input[type=text] {
    width: 200px;
    -webkit-transition: ease-in-out, width .35s ease-in-out;
    transition: ease-in-out,width .35s ease-in-out;
  }

  input[type=text]:focus {
    width: 365px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .clear-default-style {
    margin-left: 94.5%;
  }

  .break-name-default-style {
    font-size: 1.7em;
  }
}

@media (min-width: 1200px) {
  .clear-default-style {
    margin-left: 95.5%;
  }

  .favorite-default-style {
    left: 7%;
  }
}

/*** uncss> filename: src/css/bootstrap.css ***/

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

footer,
header,
nav,
section {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

strong {
  font-weight: bold;
}

img {
  border: 0;
}

button,
input {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  .navbar {
    display: none;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

p {
  margin: 0 0 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-4,
.col-sm-6,
.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-6 {
    float: left;
  }

  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .col-md-4 {
    float: left;
  }

  .col-md-4 {
    width: 33.33333333%;
  }
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}

.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.collapse {
  display: none;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .container-fluid > .navbar-header,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}

.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}

.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: #333;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-inverse .navbar-collapse {
  border-color: #101010;
}

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}

.container:after,
.container-fluid:after,
.row:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
  clear: both;
}

@-ms-viewport {
  width: device-width;
}

/*# sourceMappingURL=bootstrap.css.map */

/*** uncss> filename: src/css/jquery-ui.css ***/

/*! jQuery UI - v1.11.4 - 2015-11-17
* http://jqueryui.com
* Includes: core.css, autocomplete.css, datepicker.css, menu.css, progressbar.css, slider.css, tooltip.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/
* Copyright jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/

/* Interaction Cues
----------------------------------*/

/* Icons
----------------------------------*/

/* states and images */

/* Misc visuals
----------------------------------*/

/* Overlays */

/* with multiple calendars */

/* RTL support */

/* icon support */

/* left-aligned */

/* right-aligned */

/* support: IE8 - See #6727 */

/* Component containers
----------------------------------*/

/* Interaction states
----------------------------------*/

/* Interaction Cues
----------------------------------*/

/* Icons
----------------------------------*/

/* states and images */

/* positioning */

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */

/* Misc visuals
----------------------------------*/

/* Corner radius */

/* Overlays */
