/*** uncss> filename: src/css/style.css ***/

body {
  font-family: Arial, Verdana;
}

body,
html {
  height: 100%;
}

.logo {
  font-size: 1.5em;
  color: #56c4d1;
}

.search-symbol-desktop,
.map-symbol-desktop,
.favorite-filter-symbol-desktop {
  display: block;
  position: relative;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.search-symbol-desktop {
  margin-top: 10.5px;
}

.map-symbol-desktop {
  margin-top: 13px;
}

.favorite-filter-symbol-desktop {
  margin-top: 11px;
}

.search-symbol-mobile,
.map-symbol-mobile,
.favorite-filter-symbol-mobile {
  display: none;
}

.header {
  background-color: white;
  padding-bottom: 0px;
}

.navbar {
  margin-bottom: 0px;
}

.search-container {
  position: relative;
  display: none;
  padding-top: 20px;
  padding-bottom: 12px;
}

.search-form-default-style {
  font-size: 1.35em;
  width: 250px;
  float: right;
  margin-top: -7px;
  margin-right: -15px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  padding-left: 5px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.clear-default-style {
  display: none;
  position: absolute;
  right: 10px;
  margin-top: -1px;
  font-size: 1.5em;
  color: white;
  background-color: #E8E8E8;
  padding: 0px 10px 0px 10px;
  border-style: solid;
  border-color: #E8E8E8;
  border-width: 1px;
  border-radius: 50px;
}

.clear-default-style:hover,
.clear-default-style:active {
  cursor: pointer;
  background-color: #333333;
  border-color: #333333;
}

.map-container-default-style {
  display: none;
  height: 350px;
  width: 100%;
  padding: 0px;
}

#map {
  display: none;
  height: 100%;
}

.not-a-favorite path {
  fill-opacity: 0;
  stroke-opacity: 0;
}

.filters-container {
  display: none;
  position: relative;
}

.clear-favorites-button-default-style {
  height: 40px;
  width: 100px;
  margin: 20px 15px 15px 0px;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #E8E8E8;
  border-radius: 15px;
  font-size: 1.2em;
  color: #b3b3b3;
  font-family: Arial, Verdana;
}

.clear-favorites-button-default-style:hover {
  color: white;
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}

.clear-favorites-button-default-style:focus {
  outline: 0 !important;
}

.location-name-default-style {
  font-size: 1.5em;
  background: none repeat 0 0 #FFffff;
  opacity: 0.5;
  position: absolute;
  bottom: -2%;
  left: 50%;
  margin-right: -50%;
  padding-left: 15px;
  padding-right: 15px;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 12.5px;
}

.break-name-default-style {
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 10px black;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 250px;
  border-radius: 12.5px;
}

.location-frame-default-style {
  display: block;
  text-align: center;
  padding: 10px 10px;
  cursor: pointer;
}
