/* {
  border: 1px solid red;
} */

#map {
    height: 350px;
    width: 100%;
}

.gmnoprint a {
    display:none;
}

.gmnoprint div {
    background:none !important;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

body {
    font-family: Arial, Verdana;
}

.header {
    background-color: white;
}

.search-form {
    font-size: 1.35em;
    width: 365px;
    float: right;
    margin-top: 14px;
    margin-right: 15px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 5px;
    border-radius: 5px;
}

.map-container {
    padding: 0px 0px;
}

.hide-map-button {
    float: right;
    margin-right: 10px;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.8em;
    color: #D1D1D1;
}

.horizontal-rule {
    border-bottom-style: solid;
    border-bottom-color: #E8E8E8;
    border-bottom-width: 1px;
}

.logo {
    text-align: left;
    vertical-align: middle;
    padding-left: 30px;
}

.logo p {
    font-size: .9em;
    margin-top: -10px;
}

.location-name {
    font-size: 1.5em;
    background: none repeat 0 0 #FFffff;
    opacity: 0.5;
    position: absolute;
    bottom: -2%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 250px;
    border-radius: 12.5px;
}

.break-name {
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px 10px black;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 250px;
    border-radius: 12.5px;
}

.location-frame {
    text-align:center;
    padding: 10px 10px;
}

.location-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 355px;
    height: 194px;
}

.surf-guide-title {
    margin-top: 20px;
    margin-bottom: 12px;
    padding: 15px;
    text-align: center;
    font-size: 3em;
}

.live-temp {
    width: 15%;
    margin-top: 18px;
    margin-left: 42.5%;
    text-align: center;
    font-size: .6em;
    border: 2px solid #E8E8E8;
    border-radius: 10px;
}

.skill-level-hover {
    position: absolute;
    top: 11.5%;
    left: 17%;
    height: 80px;
}

.break-type-hover {
    position: absolute;
    top: 11.5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 80px;
}

.wave-direction-hover {
    position: absolute;
    top: 11.5%;
    right: 17%;
    height: 80px;
}

.best-season-hover {
    position: absolute;
    bottom: 11.5%;
    left: 17%;
    height: 80px;
}

.misc-info-one-hover {
    position: absolute;
    bottom: 11.5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 80px;
}

.misc-info-two-hover {
    position: absolute;
    bottom: 11.5%;
    right: 17%;
    height: 80px;
}

.climate-info-hover {
    position: absolute;
    bottom: 19%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 2.3em;
    color: white;
}

.cost-hover {
    font-size: 1.25em;
    color: white;
    text-shadow: 1px 1px 10px black;
    position: absolute;
    top: 10px;
    left: 15px;
}

.distance-hover {
    font-size: 1.25em;
    color: white;
    text-shadow: 1px 1px 10px black;
    position:absolute;
    top: 10px;
    right: 15px;
}

.card {
    height: 183px;
    padding: 10px 10px;
    border: 1px;
    border-style: dashed;
    border-color: #E8E8E8;
    text-align: center;
}

.compass {
    height: 320px;
    padding: 10px 10px;
    text-align: center;
}

.surf-conditions-container {
    border: solid 2px;
    border-color: #E8E8E8;
    margin-bottom: 15px;
    padding-right: 0px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.surf-conditions-small {
    height: 160px;
}

.error-container {
    border: solid 2px;
    border-color: #E8E8E8;
    border-radius: 20px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.surf-conditions-waves  {
    text-align: center;
    padding: 10px 0px 10px;
}

.surf-conditions-waves > button:first-child + p {
    font-size: 2.6em;
}

.surf-conditions-swell {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2em;
}

.surf-conditions-swell > p:first-child + p {
    width: 90%;
    margin-left: 5%;
    padding: 6px 15px 9px;
    border: solid 1px;
    border-color: #E8E8E8;
    border-radius: 10px;
    background-color: #E8E8E8;
    color: #00B8E6;
}

.surf-conditions-swell > p:first-child + p + p {
    margin-top: -3px;
    font-size: .9em;
}

.surf-conditions-wind {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2em;
}

.surf-conditions-wind img {
    margin: auto;
}

.surf-conditions-wind > p:first-child + img + p {
    font-size: .9em
}

.conditions-close-button {
    float: left;
    margin-top: -9px;
    margin-left: -7px;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.8em;
    color: #D1D1D1;
}

.conditions-error {
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 0;
}

.error-close-button {
    float: left;
    margin-left: -7px;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.8em;
    color: #D1D1D1;
}

/** Icons **/
.skill-level-guide, .big-wave-guide, .break-type-guide, .wave-direction-guide, .best-season-guide, .distance-guide {
    height: 160px;
}

.wave-height > img:first-child + p {
    font-size: 2.35em;
    font-weight: bolder;
    font-color: #333333;
    margin-top: -115px;
}

.climate > img:first-child + p {
    font-size: 4em;
    font-weight: bolder;
    font-color: #333333;
    margin-top: -120px;
}

.water-temp > canvas:first-child {
    border-radius: 19px;
}

.highlight-attire {
    box-shadow: 0px 0px 20px #00B8E6;
}

.cost > img:first-child + p {
    font-size: 2em;
    font-weight: bolder;
    font-color: #333333;
    margin-top: -141px;
    margin-left: -15px;
}

.cost > img:first-child + p + p{
    font-size: 2em;
    font-weight: bolder;
    font-color: #333333;
    margin-top: -15px;
    margin-left: 25px;
}

.cost > img:first-child + p + p + p {
    font-size: 2em;
    font-weight: bolder;
    font-color: #333333;
    margin-top: -14px;
    margin-left: 67px;
}

.distance-guide-hours {
    font-size: 2em;
    font-weight: bolder;
    font-color: #333333;
    margin-top: -60px;
    margin-right: 65px;
}

.distance-guide-miles {
    font-size: 2em;
    font-weight: bolder;
    font-color: #333333;
    margin-top: -132px;
    margin-left: 50px;
}


.guide-close-button {
    position: absolute;
    z-index: 500;
    margin-top: 12px;
    margin-left: 10px;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.8em;
    color: #D1D1D1;
}

@media (max-width: 767px) {

    .horizontal-rule {
        border-bottom: none;
    }

    .search-container {
        padding-top: 7px;
        padding-bottom: 5px;
        border-color: #E8E8E8;
        border-top-style: solid;
        border-top-width: 1px;
    }

    .search-form {
        margin: 0 auto;
        font-size: 1.3em;
        padding-top: 12.5px;
        padding-bottom: 10px;
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-radius: 0px;
        width: 100%;
    }

    .map-container {
        border: 1px dashed;
        border-color: #E8E8E8;
        margin-top: 1px;
        margin-bottom: 1px;

    }

    #map {
        height: 180px;
        width: 100%;
    }

    .hide-map-button {
        float: none;
        margin-left: 48.25%;
        margin-right: 0;
    }

    .skill-level-hover {
        left: 18%;
        height: 38%;
    }

    .break-type-hover {
        height: 38%;
    }

    .wave-direction-hover {
        right: 18%;
        height: 38%;
    }

    .best-season-hover {
        left: 18%;
        height: 38%;
    }

    .misc-info-one-hover {
        height: 38%;
    }

    .misc-info-two-hover {
        right: 18%;
        height: 38%;
    }

    .climate-info-hover {
        font-size: 8vw;
    }

    .cost-hover {
        font-size: 4.5vw;
    }

    .distance-hover {
        font-size: 4.5vw;
    }

    .live-temp {
        width: 33%;
        margin-left: 33.5%;
    }

    .surf-conditions-container {
        margin-bottom: 15px;
        padding-left: 0px;
        border-top: solid 1px;
        border-bottom: solid 1px;
        border-right: none;
        border-left: none;
        border-color: #E8E8E8;
        border-radius: 0;
    }

    .surf-conditions-waves  {
        text-align: center;
        margin-bottom: -30px;
        padding: 10px 0px 10px;
    }

    .surf-conditions-wind > p:first-child + img + p {
        font-size: .8em;
    }

    .surf-conditions-swell > p:first-child + p + p {
        font-size: .8em;
    }

    .compass {
        margin-top: -28px;
        margin-bottom: -15px;
    }

    .conditions-close-button {
        margin-left: 10px;
    }

    .star {
        height: 60px;
        width: 60px;
    }

    .error-container {
        margin-left: 5%;
        width: 90%;
    }

    .conditions-error {
        margin-top: 6px;
        font-size: 1.2em;
    }

    .location-frame {
        text-align:center;
        padding: 0px 0px 0px 0px;
    }

    .location-image {
        border-radius: 0px;
        width: 100%;
        height: 100%;
    }

    .surf-guide-title p {
        font-size: .7em;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .skill-level-hover {
        top: 17%;
        left: 17%;
        height: 70px;
    }

    .break-type-hover {
        top: 17%;
        height: 70px;
    }

    .wave-direction-hover {
        top: 17%;
        right: 17%;
        height: 70px;
    }

    .best-season-hover {
        bottom: 17%;
        left: 17%;
        height: 70px;
    }

    .misc-info-one-hover {
        bottom: 17%;
        height: 70px;
    }

    .misc-info-two-hover {
        bottom: 17%;
        right: 17%;
        height: 70px;
    }
    .climate-info-hover {
        bottom: 23%;
        font-size: 2em;
    }
}

@media (min-width: 1200px) {
    .skill-level-hover {
        left: 18%;
        height: 80px;
    }

    .wave-direction-hover {
        right: 18%;
        height: 80px;
    }

    .best-season-hover {
        left: 18%;
        height: 80px;
    }

    .misc-info-two-hover {
        right: 18%;
        height: 80px;
    }

    .cost-hover {
        font-size: 1.25em;
        color: white;
        text-shadow: 1px 1px 10px black;
        position: absolute;
        top: 10px;
        left: 23px;
    }

    .distance-hover {
        font-size: 1.25em;
        color: white;
        text-shadow: 1px 1px 10px black;
        position:absolute;
        top: 10px;
        right: 23px;
    }

}
